@import '../../assets/styles/base.less';

page {
  padding-bottom: 120rpx;
  background-color: @white-color;
}

.category {
  &-title {
    margin: 80rpx 0;
    color: @primary-color;
    text-align: center;
    font-size: 50rpx;
  }
}
