@import '../../../lib/styles/index.less';


.icons {
  display: flex;
  flex-wrap: wrap;
  padding: 30rpx;

  &-box {
    flex-direction: column;
    border: 1px solid #9e9e9e3b;
    border-radius: 10rpx;
    margin: 0 2rpx 2rpx;
    .set-size(220rpx, 200rpx);
    .flex-type(center);
  }
}