@import '../../assets/styles/base.less';

page {
  padding-bottom: 120rpx;
  background-color: @white-color;
}

.title {
  margin: 80rpx 0;
  color: @primary-color;
  text-align: center;
  font-size: 50rpx;
}

.category {
  padding: 30rpx 0;

  &-title {
    margin: 0 30rpx;
    color: @title-color;
    font-size: 28rpx;
  }

  &-item {
    color: @text-color;
  }
}
